{% if not livemode %}
 <div class="alert alert-danger"><i class="fa fa-exclamation-circle"></i> {{ text_testmode }}
{% endif %}

<form>
  <script src="https://payflexi.co/js/v1/global-payflexi.js"></script>
  <div class="buttons">
    <div class="pull-right">
      <input type="button" onclick="payWithPayflexiCheckout()" value="{{button_confirm}}" class="btn btn-primary" />
    </div>
  </div>
</form>
 
<script>

  function payWithPayflexiCheckout(){
    var handler = PayFlexi.checkout({
      key: '{{key}}',
      gateway: '{{gateway}}',
      currency: '{{currency}}',
      email: '{{email}}',
      name: '{{name}}',
      amount: {{amount}},
      reference: '{{ref}}',
      meta:{
        title: '{{product_names}}',
        product_urls: '{{product_urls}}',
        product_image: '{{product_image}}',
        product_images: '{{product_images}}'
      },
      onSuccess: function(response){
          window.location.href='{{callback}}'.replace('&amp;', '&').replace('&amp;', '&');
      },
      onShared: function(response){
          window.location.href='{{callback}}'.replace('&amp;', '&').replace('&amp;', '&');
      },
      onExit: function(){
          window.location.href='{{cancel_return}}'.replace('&amp;', '&').replace('&amp;', '&');
      },
      onDecline: function(){
          window.location.href='{{callback}}'.replace('&amp;', '&').replace('&amp;', '&');
      }
    });
    handler.renderCheckout();
  }
</script>
